h1 {
    background: #03396c;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.city {
    padding-bottom: 20px;
}

.temp {
    padding-bottom: 20px;
}

.humidity {
    padding-bottom: 20px;
}

.wind {
    padding-bottom: 20px;
}

.jumbotron {
    margin-top: 32px;
    background-color: #b3cde0;
}

#fiveDayForecast {
    background: #b3cde0;
}